/*  ----------------- fichero CSS para tunear la web del SFPIE  -------------- */ 

/* .distill-site-nav  {
  color: #000000;
  background-color: #7a8b8b;
   } */ 

/* definiendo estilos de los párrafos */ 
p {
  text-align: justify; }        /* justificar el texto del body */      
  
